.shell-div {
    padding-top:75px;
}

#preview {
    background: none repeat scroll 0 0 #333333;
    border-radius: 10px;
    color: #FFFFFF;
    float: left;
    height: 268px;
    margin: 0 20px 20px 0;
    position: relative;
    width: 268px;
}

