<div data-ng-controller="home">

    <div class="jumbotron">
        <h1>AngularJS Test App</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" ng-click="showToastr()" role="button">Show Toastr</a></p>
        
    </div>
    
    <ul class="list-group">
        <li class="list-group-item">Promise-Tracker - v2.0.0-beta2 http://github.com/ajoslin/angular-promise-tracker</li>
        <li class="list-group-item">logger.js - logging + Toastr</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>
